/BitwiseOperator.class
/DistanceTravelled.class
/Grocery.class
/Hangman.class
/IncrementDecrementOperator.class
/NumericPattern.class
/OperatorPrecedence.class
/Reservation.class
/SalaryCalculator.class
/SampleClass.class
/Tableof5UsingLoop.class
